*filter
:INPUT DROP
:FORWARD ACCEPT
:OUTPUT ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p tcp -m tcp --dport 22 -m conntrack --ctstate NEW -m comment --comment "ssh access" -j ACCEPT
{% for host in groups.all %}
-A INPUT -p tcp -m tcp -s {{ hostvars[host].ansible_default_ipv4.address }} -m conntrack --ctstate NEW -m comment --comment "full access from cluster nodes" -j ACCEPT
{% endfor %}
{% if ansible_hostname in groups.lb %}
-A INPUT -p tcp -m tcp --dport 80 -m conntrack --ctstate NEW -m comment --comment "http access" -j ACCEPT
-A INPUT -p tcp -m tcp --dport 443 -m conntrack --ctstate NEW -m comment --comment "https access" -j ACCEPT
-A INPUT -p tcp -m tcp --dport 6443 -m conntrack --ctstate NEW -m comment --comment "kubernetes access" -j ACCEPT
{% endif %}
-A INPUT -i lo -j ACCEPT
COMMIT
